<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Customer Web</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="customer">Customer Web</a>
        </div>
    </div>
</nav>
<div class="container">
    <br>
    <form th:if="${customer!=null}" action="#" th:action="@{/customer}" th:object="${customer}" method="post">
        <div class="row">
            <div class="col-md-5 mb-3">
                <input type="text" class="form-control" id="firstName" placeholder="First name" value="" required
                       th:field="*{firstName}" th:classappend="${#fields.hasErrors('firstName')}?'is-invalid'">
                <div class="invalid-feedback">
                    Valid first name is required
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <input type="text" class="form-control" id="lastName" placeholder="Last name" value="" required
                       th:field="*{lastName}" th:classappend="${#fields.hasErrors('lastName')}?'is-invalid'">
                <div class="invalid-feedback">
                    Valid last name is required
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"><span class="text-muted">Contact info (Optional)</span></div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <input type="email" class="form-control" id="email" placeholder="you@example.com"
                       th:field="*{email}" th:classappend="${#fields.hasErrors('email')}?'is-invalid'">
                <div class="invalid-feedback">
                    Please enter a valid email address
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <input type="text" class="form-control" id="phone" placeholder="Phone: 9876543210"
                       th:field="*{phone}" th:classappend="${#fields.hasErrors('phone')}?'is-invalid'">
                <div class="invalid-feedback">
                    Please enter a valid phone number
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <input type="text" class="form-control" id="other" placeholder="Other"
                       th:field="*{other}" th:classappend="${#fields.hasErrors('other')}?'is-invalid'">
                <div class="invalid-feedback">
                    Please enter a valid contact info
                </div>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="p-2">
                <input class="btn btn-dark" type="submit" value="Add Customer">
            </div>
            <div class="p-2">
                <a class="btn btn-dark" href="customer">Show All</a>
            </div>
        </div>
    </form>

    <table class="table table-responsive-md">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</td>
            <th scope="col">Contacts</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${!#lists.isEmpty(customerList)}" th:each="customer: ${customerList}">
            <th:block th:if="${null != customer}">
                <th scope="row"><a th:href="@{/customer(id=${customer.id})}"><span th:text="${customer.id}">...</span></a></th>
                <td th:text="${customer.firstName}">...</td>
                <td th:text="${customer.lastName}">...</td>
                <td>
                   <th:block th:if="${null != customer.contacts}" th:each="contact, iteratorStatus : ${customer.contacts}">
                        <span th:if="${null != contact}"
                              th:text="${#strings.concat(contact.description, !iteratorStatus.last?', ':'')}">...</span>
                   </th:block>
                </td>
            </th:block>
        </tr>
        </tbody>
    </table>
    <div th:if="${#lists.isEmpty(customerList)}">
        <td colspan="4">No Customer has been created</td>
    </div>
</div>

</body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>